<div class="notification">
    <div class="notificationDateTime">
        {{ notification.time }}
    </div>
    <div class="notificationInfo">
        <span>
            {% if notification.comment %}
                {% include 'notifications/comment.html' %}
            {% elif notification.follow %}
                {% include 'notifications/follow.html' %}
            {% elif notification.note %}
                {% include 'notifications/note.html' %}
            {% elif notification.reply %}
                {% include 'notifications/reply.html' %}
            {% elif notification.tie %}
                {% include 'notifications/tie.html' %}
            {% elif notification.vote %}
                {% include 'notifications/vote.html' %}
            {% endif %}
        </span>
    </div>
</div>