<div class="adminNote" id="adminNote_{{ note.pk }}">
    <a href="{% url admins.views.note note.pk %}">
        {{ note.user.username }}
        <p{% if note.pk == note_pk %} class="red"{% endif %}>{{ note.content }}</p>
    </a>
    <ul class="adminComments">
        {% for comment in note.comment_set.all %}
            <li>{% include 'admins/comment.html' %}</li>
        {% endfor %}
        {% if note.pk == note_pk %}
            <div class="adminForm">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="action">
                        <input type="submit" value="Comment">
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        {% endif %}
    </ul>
</div>