<div class="introHeader">
    <h1>Skim more. Read less.</h1>
    <h2>Reading the web easier and faster</h2>
</div>
<div class="intro">
    <ul>
        <li class="group">
            <div class="discover">
                <h1>Discover</h1>
                <div class="groupImage">
                    <img src="{{ static }}img/discover3.png">
                    <div class="discoverWords">
                        <p>
                            10101010100110101010101000101010110101010101010011010101010100010101011010
                        </p>
                        <p>
                            10101010101010101010101010101010010101010101010101010101010101010101001010
                        </p>
                        <p>
                            010110101010101001110100101010101010110101010101<span>iLike</span>001110100101010101
                        </p>
                        <p>
                            10101010100010101010101000101010010101010101010001010101010100010101001010
                        </p>
                        <p>
                            01101010100010101010101000101010110100110101010001010101010100010101011010
                        </p>
                    </div>
                </div>
                <div class="groupInfo">
                    <p>Browse through readings added by others and discover what you like.</p>
                </div>
            </div>
        </li>
        <li class="groupArrow">
            <div class="groupArrowFirst">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </li>
        <li class="group">
            <div class="skim">
                <h1>Skim</h1>
                <div class="groupImage">
                    <img src="{{ static }}img/skim_finger1.png">
                    <div class="skimWords">
                        <p>101010101001101<span>Interesting</span>10100010101011010</p>
                        <p>1010101010101010101010101010101001010</p>
                    </div>
                </div>
                <div class="groupInfo">
                    <p>Quickly read interesting content by skimming notes added by people just like you.</p>
                </div>
            </div>
        </li>
        <li class="groupArrow">
            <div class="groupArrowSecond">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </li>
        <li class="group">
            <div class="save">
                <h1>Save</h1>
                <div class="groupImage">
                    <div class="saveWords">
                        <span>M</span>
                        <span>y</span>
                        <span>R</span>
                        <span>e</span>
                        <span>a</span>
                        <span>d</span>
                        <span>i</span>
                        <span>n</span>
                        <span>g</span>
                    </div>
                    <img src="{{ static }}img/save1.png">
                </div>
                <div class="groupInfo">
                    <p>Add your own readings to share with others, or simply save them for a later skim.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="startSkimming">
    <p>Start</p>
    <div class="lines"></div>
    <div class="arrow"></div>
</div>