{% for tie in reading.tie_set.all %}
    <div class="tie" id="tie_{{ tie.pk }}">
        <a href="{% url tags.views.detail tie.tag.slug %}" {% if tie_focus == tie.pk %}class="focus"{% endif %}>
            #{{ tie }}
        </a>
        {% if tie.user.pk == user.pk %}
            <form action="{% url tags.views.delete reading.slug %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete" value="{{ tie.pk }}">
                <input type="submit" value="-" title="Remove">
            </form>
        {% endif %}
    </div>
{% endfor %}