<div class="reply{% if reply_focus == reply.pk %} focus{% endif %}" id="reply_{{ reply.pk }}">
    {% load common_tags %}
    <div class="replyUserImage">
        <img class="lazyLoad" data-original="{{ reply.user.profile.small }}" src="{{ static }}img/users/lazy_user.jpg">
    </div>
    <div class="replyBody">
        <div class="replyUser">
            <a href="{% url readings.views.list_user reply.user.profile.slug %}">
                {{ reply.user.username }}
            </a>
        </div>
        <div class="replyContent">
            {{ reply.content|urlize|target_blank|linebreaks }}
        </div>
        <div class="replyExtra">
            <div class="replyDateTime">
                {{ reply.date_time }}
                {% if reply.user.pk == user.pk or user.is_staff %}
                    -
                {% endif %}
            </div>
            {% if reply.user.pk == user.pk or user.is_staff %}
                <div class="replyDelete">
                    <form action="{% url replies.views.delete reply.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="{{ reply.pk }}">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>