<form action="{% url replies.views.new comment.pk %}" method="POST" id="replyForm_{{ comment.pk }}">
    {% csrf_token %}
    <div class="replyUserImage">
        {% if user.is_anonymous %}
            <img src="{{ static }}img/users/default_small.jpg">
        {% else %}
            <img class="lazyLoad" data-original="{{ user.profile.small }}" src="{{ static }}img/users/lazy_user.jpg">
        {% endif %}
    </div>
    {% for field in reply_form %}
        <div class="field{% if user.is_anonymous %} signUpPop{% endif %}">
            {{ field.errors }}
            {{ field }}
        </div>
    {% endfor %}
</form>
<div class="clear"></div>