/* reading */
.adminReading {
    background: rgb(255, 255, 255);
}

.adminReading .readingTitle {
    background: rgb(60, 60, 60);
    margin: 0 0 10px 0;
}

.adminReading .readingTitle a:hover {
    color: rgb(255, 255, 255);
}

.adminReading a {
    color: rgb(160, 160, 160);
    display: block;
    padding: 5px 0 5px 20px;
}

.adminReading a:hover {
    background: rgb(240, 240, 240);
    color: rgb(160, 160, 160);
}

.adminReading p {
    color: rgb(40, 40, 40);
    line-height: 19px;
    margin: 5px 0 0 0;
}

.adminReading p.red {
    color: rgb(255, 26, 0);
}

/* notes */
.adminNotes {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.adminNote {
    border: 1px solid rgb(200, 200, 200);
    margin: 0 0 10px 0;
}

/* comments, replies */
.adminComments, .adminReplies {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 95px;
}

.adminComment a, .adminReply {
    border: 1px solid rgb(200, 200, 200);
    border-bottom: none;
    border-right: none;
    padding: 5px 0 5px 5px;
}

.adminComment a:hover, .adminReply a:hover {
    background: rgb(240, 240, 240);
}

/* form */
.adminForm .field, .adminForm .action {
    float: left;
}

.adminForm .field {
    margin: 0;
}

.adminForm .field textarea {
    border-bottom: none;
    font-size: 13px;
}

.adminForm .field textarea:hover, .adminForm .field textarea:focus, .adminForm .field textarea:active {
    border: 1px solid rgb(200, 200, 200);
    border-bottom: none;
}

.adminForm .action {
    margin: 0 0 0 10px;
}

.adminForm .action input, .adminForm .action a {
    font-size: 13px;
}

.adminForm .action a {
    float: left;
    margin: 10px 0 0 0;
}