.bookmarkletBackground, .bookmarklet .wrapper {
    position: absolute;
    width: 100%;
}

.bookmarkletBackground {
    background-color: rgb(40, 40, 40);
    min-height: 100%;
    opacity: .95;
    z-index: 9000;
}

.bookmarklet .wrapper {
    z-index: 9999;
}

.bookmarklet .content {
    padding: 20px;
}

.readingSaveSpinner {
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 150px;
}

.readingSaveSpinner, .readingSaveSpinner img {
    height: 50px;
    width: 50px;
}