/* Comments */
.commentsContainer, .repliesContainer {
    display: none;
    float: right;
}

.commentsContainer {
    padding: 0 30px 0 0;
    width: 620px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.comments .comment:first-child, .replies .reply:first-child {
    margin: 10px 0 0 0;
}

.comments .comment:last-child, .replies .reply:last-child {
    padding: 10px 0 0 0;
}

.comment, .commentForm, .reply, .replyForm {
    border-top: 1px solid rgb(240, 240, 240);
}

.comment, .reply {
    padding: 10px 0;
}

.commentUserImage, .replyUserImage {
    width: 30px;
}

.commentUserImage img, .replyUserImage img {
    max-height: 30px;
    max-width: 30px;
}

.commentUser, .commentContent, .replyContent {
    margin: 0 0 3px 0;
}

/* Comment form */
.commentForm, .replyForm {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

.commentForm .field, .replyForm .field {
    padding: 0 10px;
}

.commentForm .field textarea, .replyForm .field textarea {
    height: 30px;
    padding: 5px;
}