/* Favorite form */
.favoriteForm {
    float: right;
}

.favoriteForm button {
    background: transparent;
    border: none;
    height: 44px;
    margin: 0;
    padding: 10px;
    width: 44px;
}

.favoriteForm button:hover {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}

.favoriteForm button div {
    background-size: 50px 24px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.favoriteForm button .fave {
    background-position: 0 0;
}

.favoriteForm button .faved {
    background-position: -25px 0;
}