.followForm input, .tieFollowForm input {
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.followForm input {
    font-size: 14px;
    padding: 10px 20px;
    width: 99px;
}

.followForm input:hover, .tieFollowForm input:hover {
    cursor: pointer;
}

.follow {
    background: rgb(73, 181, 228);
}

.follow:hover {
    background: rgb(63, 171, 218);
}

.following {
    background: rgb(60, 60, 60);
}

.unfollow {
    background: rgb(255, 26, 0);
    display: none;
}

/* User follows */
.userFollows {
    float: left;
    width: 620px;
}

/* tie tag follow */
.tieFollowForm {
    display: none;
    margin-top: -25px;
    position: absolute;
}

.tieFollowForm input {
    font-size: 12px;
    padding: 5px 10px;
    width: 68px;
}

.tieFollowForm .unfollow {
    display: block;
}