/* header */
header {
    background: rgb(40, 40, 40);
    height: 40px;
    width: 100%;
}

.header {
    height: 100%;
    margin: 0 auto;
    width: 960px;
}

.logo {
    float: left;
    height: 40px;
    width: 129px;
}

.logo img {
    max-height: 20px;
    max-width: 129px;
    padding: 10px 0;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    float: left;
}

header nav a {
    display: block;
    font-size: 13px;
    height: 40px;
    padding: 13px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header nav .onPage {
    border-bottom: 3px solid rgb(48, 157, 207);
}

header nav .onPageRed {
    border-bottom: 3px solid rgb(255, 26, 0);
}

header nav a:hover {
    background: rgb(48, 157, 207);
    color: rgb(255, 255, 255);
}

/* account name link */
.account {
    display: block;
    height: 40px;
}

.account div {
    float: left;
    margin: 0 8px 0 0;
    position: relative;
    bottom: 3px;
}

.account div, .account img {
    height: 20px;
    width: 20px;
}

.headerCount {
    color: rgb(255, 26, 0);
    float: right;
}

/* Menu */
header nav .menuShow {
    background: rgb(60, 60, 60);
    border: none;
    color: rgb(160, 160, 160);
}

#menu, #loginMenu {
    display: none;
    position: relative;
}

#menu ul {
    background: rgb(60, 60, 60);
    position: absolute;
    right: 0;
    top: 40px;
    width: 160px;
    z-index: 500;
}

#menu li {
    display: block;
    float: none;
}

#menu a {
    color: rgb(160, 160, 160);
}

#menu a:hover, .menuShow:hover {
    background: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
}

/* Login menu */
.loginMenu, #signUpForm {
    background: rgb(60, 60, 60);
    position: absolute;
    padding: 10px;
    z-index: 500;
}

.loginMenu {
    right: 0;
    top: 40px;
}

#loginMenu .field {
    margin: 0;
}

#loginMenu .field input, #signUpForm .field input {
    border: none;
    font-size: 13px;
    padding: 5px;
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#loginMenu .field input:focus, #signUpForm .field input:focus {
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.bottomLogin, .bottomSignUp {
    margin: 10px 0;
}

.bottomLogin .field, .bottomSignUp .field {
    overflow: hidden;
}

#loginMenu .bottomLogin .field input, #signUpForm .bottomSignUp .field input {
    width: 100%;
}

#loginMenu .action, #signUpForm .action {
    float: right;
    margin: 0 0 0 10px;
}

#loginMenu .action input, #signUpForm .action input {
    font-size: 13px;
    padding: 5px 10px;
}