/* Bullet notes*/
.bulletNotes {
    float: left;
    font-size: 13px;
    list-style-type: square;
    margin: 0;
    padding: 0 20px 0 40px;
    width: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bulletNotes li {
    line-height: 19px;
    margin: 0 0 8px 0;
}

.bulletNotes li:last-child {
    margin: 0;
}

/* Note form */
#noteForm {
    background: rgb(240, 240, 240);
    margin: 10px 0 0 0;
}

#noteForm, #noteForm textarea, .note, .commentForm .field textarea, .replyForm .field textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#noteForm, .note {
    padding: 10px 20px;
    width: 720px;
}

#noteForm h1 {
    color: rgb(160, 160, 160);
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0 0 0 60px;
}

#noteForm .field, .commentForm .field, .replyForm .field {
    margin: 0;
    overflow: hidden;
}

#noteForm .field {
    padding: 0 0 0 10px;
}

#noteForm textarea, #noteForm .action input, .commentForm .field textarea, .replyForm .field textarea {
    font-size: 13px;
}

#noteForm textarea, .commentForm .field textarea, .replyForm .field textarea {
    vertical-align: bottom;
    width: 100%;
}

#noteForm textarea {
    height: 50px;
}

#noteForm .action {
    margin: 10px 0 0 0;
    text-align: right;
}

#noteForm .action input {
    padding: 5px 10px;
}

/* Notes */
.notes {
    float: left;
    font-size: 13px;
    width: 720px;
}

.note {
    border-bottom: 1px solid rgb(240, 240, 240);
}

.focus {
    color: rgb(255, 26, 0);
}

.note:last-child {
    border: none;
}

.noteUserImage, .commentUserImage, .replyUserImage {
    float: left;
    text-align: center;
}

.noteUserImage {
    width: 50px;
}

.noteUserImage img, .commentUserImage img, .replyUserImage img {
    vertical-align: bottom;
}

.noteUserImage img {
    max-height: 50px;
    max-width: 50px;
}

.noteBody, .commentBody, .replyBody {
    overflow: hidden;
    padding: 0 10px;
}

.noteUser, .noteContent, .commentUser, .commentContent, .replyContent {
    width: 100%;
}

.noteUser, .noteContent {
    margin: 0 0 5px 0;
}

.noteUser a, .commentUser a, .replyContent a {
    color: rgb(160, 160, 160);
}

.noteUser a:hover, .commentUser a:hover, .replyContent a:hover {
    color: rgb(120, 120, 120);
}

.note a:hover, .comment a:hover {
    text-decoration: underline;
}

.noteContent, .commentContent {
    line-height: 19px;
}

.noteDateTime, .commentDateTime, .replyDateTime {
    color: rgb(160, 160, 160);
    float: left;
    font-size: 12px;
}

.noteDelete, .commentDelete, .replyDelete {
    float: left;
    margin: 0 0 0 3px;
}

.noteDelete form, .commentDelete form, .replyDelete form {
    height: 15px;
}

.noteDelete input, .commentDelete input, .replyDelete input {
    background: none;
    border: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.noteDelete input:hover, .commentDelete input:hover, .replyDelete input:hover {
    color: rgb(120, 120, 120);
    cursor: pointer;
    text-decoration: underline;
}

.noteVote {
    float: right;
}

.noteVotes {
    color: rgb(160, 160, 160);
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    margin: 5px 0;
}