.notifications h1 {
    color: rgb(160, 160, 160);
    font-size: 13px;
    font-weight: 300;
    margin: 5px 0;
}

.notifications h1:first-child {
    margin: 0 0 5px 0;
}

.notification {
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 13px;
    padding: 5px 10px;
}

.notificationInfo {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 20px 0 0;
    text-overflow: ellipsis;
}

.notificationInfo span {
    white-space: nowrap;
    width: 100%;
}

.notificationDateTime {
    color: rgb(160, 160, 160);
    float: right;
}