.facebookAuth.large {
    margin-bottom: 20px;
    width: 250px;
}

.facebookAuth a {
    background: rgb(71, 110, 163);
    color: rgb(255, 255, 255);
    display: block;
    padding: 0;
}

#loginMenu .facebookAuth a {
    height: 30px;
}

.facebookAuth a:hover {
    background: rgb(80, 133, 191);
    color: rgb(255, 255, 255);
}

.facebookAuth img {
    float: left;
}

.facebookAuth.large img {
    max-height: 30px;
    max-width: 30px;
    padding: 8px 20px 8px 10px;
}

.facebookAuth.small img {
    max-height: 20px;
    max-width: 20px;
    padding: 5px 10px;
}

.facebookAuth.large p {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0 15px 60px;
}

.facebookAuth.small p {
    font-size: 14px;
    line-height: 14px;
    padding: 8px 0 8px 40px;
}