/* Scroll top button */
.topButton {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
}

.toTop {
    background: rgb(40, 40, 40);
    display: block;
    height: 30px;
    padding: 5px;
    width: 30px;
}

.toTop div {
    border-bottom: 15px solid rgb(255, 255, 255);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: 5px 0 0 0;
    height: 0;
    width: 0;
}