/* Sign up form partial */
#signUpForm {
    display: none;
    width: 200px;
}

#signUpForm .field {
    margin: 0 0 10px 0;
}

#signUpForm .bottomSignUp .field {
    margin: 0;
}

/* Edit */
.editProfileImage {
    float: right;
    font-size: 14px;
    text-align: center;
}

.editProfileImage img {
    margin: 0 0 10px 0;
    max-height: 300px;
    max-width: 300px;
}

.editProfileImage input {
    margin: 10px 0 0 0;
}

.editProfileImage input[type="checkbox"] {
    margin: 0;
    width: 13px;
}

/* Profile */
.profile {
    float: right;
    font-size: 14px;
    width: 200px;
}

.profile img {
    max-height: 200px;
    max-width: 200px;
    vertical-align: bottom;
}

.profile h1 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.profile h1 a {
    color: rgb(60, 60, 60);
    display: block;
    padding: 10px 0;
    word-wrap: break-word;
}

.profile h1 a:hover {
    text-decoration: underline;
}

.profile ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.profile li {
    border-top: 1px solid rgb(200, 200, 200);
}

.profile .noLink {
    padding: 10px 0;
}

.profile li a {
    display: block;
    padding: 10px 0;
}

.profileLabel {
    float: left;
}

.profile .count {
    color: rgb(60, 60, 60);
    float: right;
}

/* User partial */
.user {
    margin: 0 0 20px 0;
}

.userImage {
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 50px;
}

.userImage img {
    max-height: 50px;
    max-width: 50px;
}

.user h1 {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.user a {
    color: rgb(40, 40, 40);
}

.user a:hover {
    color: rgb(48, 157, 207);
}

.user .followForm {
    float: right;
}