.noteVote form {
    height: 10px;
}

.upVote div, .upVote input, .downVote div, .downVote input {
    background: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}

.upVote div, .upVote input {
    border-bottom: 10px solid rgb(160, 160, 160);
    border-top: none;
}

.upVote .upVoted, .upVote div:active {
    border-bottom: 10px solid rgb(63, 171, 218);
}

.upVote .focus {
    border-bottom: 10px solid rgb(255, 26, 0);
}

.upVote input, .downVote input {
    vertical-align: top;
}

.downVote div, .downVote input {
    border-bottom: none;
    border-top: 10px solid rgb(160, 160, 160);
}

.downVote .downVoted, .downVote div:active {
    border-top: 10px solid rgb(63, 171, 218);
}

.downVote .focus {
    border-top: 10px solid rgb(255, 26, 0);
}

.upVote div:hover, .upVote input:hover, .downVote div:hover, .downVote input:hover {
    cursor: pointer;
}