{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<meta property="og:title" content="{{ reading.title }}">
<meta property="og:image" content="{{ reading.pic }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="Skimreads">
<meta property="og:description" content="{{ reading.bullets }}">
{% if not user.is_anonymous %}
<script>
$(document).ready(function() {
    var url = '{{ request.build_absolute_uri }}'
    $('#newMessageForm #id_content').text('Skim this: ' + url);
})
</script>
{% endif %}
{% endblock %}
{% block content %}
<div class="reading" id="reading_{{ reading.pk }}">
    <div class="readingHeader">
        <div class="favoriteForm" id="favoriteForm_{{ reading.pk }}">
            {% include 'favorites/favorite_form.html' %}
        </div>
        <div class="readingTitle">
            <a href="{% url readings.views.link reading.slug %}" target="_blank">
                {{ reading.title }}
            </a>
        </div>
    </div>
    <div class="readingInfo">
        <div class="readingUser">
            <a href="{% url readings.views.list_user reading.user.profile.slug %}">{{ reading.user }}</a> |
            {{ reading.date }}
        </div>
        <div class="discuss">
            {% if user.is_staff %}
                <span title="Reads">{{ reading.views }}</span> |
            {% endif %}
            {% if reading.user == user or user.is_staff %}
                <a href="{% url readings.views.edit reading.slug %}">
                    Edit
                </a>
            {% endif %}
            {% if user.is_staff %}
                |
            {% endif %}
            {% if user.is_staff %}
                <a href="{% url admins.views.reading reading.slug %}">
                    Admin
                </a>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="readingBody">
        <ul class="bulletNotes">
            {% include 'notes/bullet_notes.html' %}
        </ul>
        <div class="readingVote">
            {% include 'votes/vote_reading_form.html' %}
        </div>
        <div class="readingImage">
            <img src="{{ reading.pic }}">
        </div>
        <div class="clear"></div>
    </div>
    <div class="readingBottom">
        {% include 'readings/share.html' %}
        <div class="tags">
            {% include 'tags/tags.html' %}
        </div>
        <div class="tagForm">
            {% if not user_tag %}
                {% include 'tags/tag_form.html' %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="readingActivity">
    {% include 'readings/reading_activity.html' %}
</div>
{% if not user.is_anonymous %}
    {% include 'usermessages/new_message_form.html' %}
{% endif %}
{% endblock %}