{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    <script>
        $(document).ready(function() {
            $('.addHeaderLink').addClass('onPage');
        })
    </script>
{% endblock %}
{% block content %}
<div class="readingNew">
    {% include 'shared/bookmarklet_info.html' %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for field in form %}
            {% include 'shared/form_field.html' %}
        {% endfor %}
        {% if not reading %}
            <div class="field">
                <p>Add Tag</p>
                <input autocomplete="off" data-autocomplete-source="{% url tags.views.tag_list_new_reading %}" id="newReadingTag" maxlength="20" name="tag_name" type="text" placeholder="Only letters, 20 characters max">
            </div>
            <div class="field noteForms">
                <p>Notes</p>
                {% for form in formset %}
                    {% for field in form %}
                        <div class="field">
                            {{ field.errors }}
                            {{ field }}
                            {{ field.id }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="addNote">
                    <a href="#" title="Add note">+</a>
                </div>
            </div>
        {% endif %}
        <div class="action">
            <input type="submit" value="Submit">
            {% if reading %}
                <a href="{% url readings.views.detail reading.slug %}">
                    Cancel
                </a>
            {% else %}
                <a href="{% url readings.views.list_user request.user.profile.slug %}">
                    Cancel
                </a>
            {% endif %}
        </div>
    </form>
    {% if reading %}
        <div class="readingDelete">
            <form action="{% url readings.views.delete reading.slug %}" method="POST">
                {% csrf_token %}
                <div class="action">
                    <input name="delete" type="hidden" value="1">
                    <input type="submit" value="Delete">
                </div>
            </form>
        </div>
    {% endif %}
</div>
<div class="readingNewImages"></div>
<div class="clear"></div>
{% endblock %}