{% extends 'bookmarklet.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="readingNew">
    <form action="{% url readings.views.new_bookmarklet %}" method="POST">
        {% csrf_token %}
        <div class="field">
            <input autocomplete="off" id="id_link" name="link" placeholder="Copy URL from the page you're reading and paste here" type="text" value="{{ link }}">
        </div>
        <div class="field">
            <input autocomplete="off" id="id_title" name="title" placeholder="Enter a title for your reading" type="text" value="{{ titl }}">
        </div>
        <div class="field">
            <input autocomplete="off" id="id_image" name="image" placeholder="Click on an image to attach it with this reading" type="text">
        </div>
        {% if user.is_staff %}
            <div class="field">
                <select name="user" id="id_user">
                    {% for user in users %}
                        <option value="{{ user.pk }}">
                            {{ user.username }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="field">
            <input autocomplete="off" data-autocomplete-source="{% url tags.views.tag_list_new_reading %}" id="newReadingTag" maxlength="20" name="tag_name" type="text" placeholder="Tag this reading (e.g. sports)">
        </div>
        <div class="field">
            <textarea name="content" placeholder="Add your note here">{{ content }}</textarea>
        </div>
        <div class="action">
            <input type="submit" value="Save">
            <a href="#">Cancel</a>
        </div>
    </form>
</div>
<div class="readingNewImages"></div>
<div class="clear"></div>
<div class="readingSaveSpinner">
    <img src="{{ static }}img/loading.gif">
</div>
{% endblock %}