{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="editNotes">
    <h1>Approved Notes</h1>
    {% for note in approved_notes %}
        {% include 'readings/edit_note.html' %}
    {% endfor %}
</div>
<div class="editNotes">
    <h1>Denied Notes</h1>
    {% for note in denied_notes %}
        {% include 'readings/edit_note.html' %}
    {% endfor %}
</div>
<div class="clear"></div>
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="field noteForms">
            {{ field.errors }}
            {{ field }}
        </div>
    {% endfor %}
    <div class="action">
        <input type="submit" value="Submit">
        <a href="{% url readings.views.detail reading.slug %}">
            Cancel
        </a>
        <div class="readingDelete">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" name="delete" value="Delete">
            </form>
        </div>
    </div>
</form>
{% endblock %}