<div class="readingPartial" id="reading_{{ reading.pk }}">
    <div class="readingPartLeft">
        <div class="readingPartTitle">
            <a href="{% url readings.views.detail reading.slug %}">
                {{ reading.title }}
            </a>
        </div>
        <div class="readingPartNote">
            {% load common_tags %}
            {% if reading.top_note %}
                {{ reading.top_note|urlize|target_blank|linebreaks }}
            {% endif %}
        </div>
        <div class="readingPartBottom">
            <div class="tags">
                {% include 'tags/tags.html' %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="readingPartRight">
        <div class="readingVote">
            {% include 'votes/vote_reading_form.html' %}
        </div>
        <div class="readingPartImage">
            <img class="lazy" data-original="{{ reading.pic }}" src="{{ static }}img/readings/lazy_reading.jpg">
        </div>
        <div class="clear"></div>
    </div>
</div>