<div class="readingShare">
    <a class="facebookShare" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" title="Facebook">
        <div><img src="{{ static }}img/fb.png"></div>
    </a>
    <a class="twitterShare" href="https://twitter.com/intent/tweet?original_referer=&text={{ reading.title|urlencode }}%20{{ request.build_absolute_uri }}" id="tweet_{{ reading.pk }}" name="{{ reading.title|urlencode }}" target="_blank" title="Twitter" url="{{ request.build_absolute_uri }}">
        <div><img src="{{ static }}img/twitter.png"></div>
    </a>
</div>