{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="adminReading">
    <div class="readingTitle adminReading">
        <a href="{% url readings.views.detail reading.slug %}">
            {{ reading.title }}
        </a>
    </div>
    <div class="adminForm">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="action">
                <input type="submit" value="Add Note">
                <a href="{% url admins.views.vote_all reading.slug %}">
                    Vote All
                </a>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    <ul class="adminNotes">
        {% for note in reading.notes %}
            <li>{% include 'admins/note.html' %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}