html, body {
    height: 100%;
}

body {
    background: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.content {
    margin: 0 auto;
    padding: 40px 0 80px 0;
    width: 960px;
}

.label {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}

a {
    color: rgb(48, 157, 207);
    text-decoration: none;
}

a:hover {
    color: rgb(68, 177, 227);
    text-decoration: none;
}

img {
    border: none;
    vertical-align: bottom;
}

input:focus, textarea:focus {
    outline: none;
}

.clear {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.red {
    color: rgb(255, 26, 0);
}

@font-face {
    font-family: Quicksand;
    src: url('/static/css/quicksand_book.ttf'),
         url('/static/css/quicksand_book.eot');
}