/* New message form */
#newMessageForm {
    background: rgb(60, 60, 60);
    display: none;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100px;
    width: 400px;
    z-index: 500;
}

#newMessageForm .field {
    margin: 0 0 10px 0;
}

#newMessageForm .field input, #newMessageForm textarea {
    border: 1px solid rgb(200, 200, 200);
    font-size: 13px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newMessageForm .action {
    margin: 0;
    text-align: right;
}

#newMessageForm .action a {
    background: none;
    color: rgb(160, 160, 160);
    margin: 0;
}

#newMessageForm .action input {
    font-size: 13px;
}

/* message user list*/
.messageUserList {
    display: none;
    position: absolute;
    width: 400px;
    z-index: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.messageUserList ul {
    border: 1px solid rgb(200, 200, 200);
    border-top: none;
    list-style-type: none;
    margin: -1px 0 0 0;
    padding: 0;
}

.messageUser {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    font-size: 13px;
    line-height: 20px;
    list-style-type: none;
    padding: 8px 10px;
}

.messageUserList .messageUser {
    border: none;
}

.messageUserList li.selected {
    background: rgb(220, 220, 220);
}

.messageUserList .messageUser:hover {
    cursor: pointer;
}

.messageUserListImage {
    float: left;
    height: 20px;
    margin: 0 10px 0 0;
    width: 20px;
}

.messageUserListImage img {
    max-height: 20px;
    max-width: 20px;
}

.messageUserList span {
    color: rgb(48, 157, 207);
}

.messageUser a {
    color: rgb(255, 26, 0);
    display: block;
    float: right;
}

.messageUserList .messageUser a {
    display: none;
}

/* list message */
.newMessageButton {
    background: rgb(63, 171, 218);
    color: rgb(255, 255, 255);
    float: right;
    font-size: 14px;
    padding: 10px 20px;
    -webkit-transition: all .1s linear;
    -khtml-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.newMessageButton:hover {
    color: rgb(255, 255, 255);
    background: rgb(73, 181, 228);
}

.listMessages {
    width: 720px;
}

.listMessage {
    background: rgb(240, 240, 240);
    height: 40px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.listMessage.viewed {
    background: rgb(255, 255, 255);
}

.listMessage:hover {
    cursor: pointer;
}

.listMessageUserImage {
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
    width: 40px;
}

.listMessageUserImage img {
    max-height: 40px;
    max-width: 40px;
}

.listMessageBody {
    font-size: 13px;
    overflow: hidden;
}

.listMessageDateTime {
    color: rgb(160, 160, 160);
    float: right;
}

.listMessageUser, .listMessageContent {
    width: 100%;
}

.listMessageUser {
    margin: 0 0 8px 0;
}

.listMessageContent {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* messages */
.sentUser {
    float: left;
}

.receivedUser {
    float: right;
}

.userMessageInfo {
    margin: 40px 0 0 0;
    position: fixed;
    width: 100px;
}

.userMessageInfo a {
    color: rgb(40, 40, 40);
    font-size: 13px;
    display: block;
    margin: 5px 0 0 0;
}

.userMessageInfo a:hover {
    text-decoration: underline;
}

.receivedUser .userMessageInfo {
    margin-left: -100px;
}

.receivedUser .userMessageInfo a {
    text-align: right;
}

.userMessages, .replyMessageForm {
    margin: 0 auto;
    width: 700px;
}

.userMessages {
    padding: 40px 0 0 0;
}

.userMessages h1 {
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: center;
}

.userMessage {
    font-size: 13px;
    margin: 0 0 10px 0;
}

.userMessageContainer {
    max-width: 400px;
    overflow: hidden;
    padding: 10px;
}

.userMessageContent {
    line-height: 19px;
}

.userMessageTime {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: rgb(160, 160, 160);
    line-height: 19px;
    padding: 10px;
}

.sent .userMessageContainer {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(200, 200, 200);
}

.sent .userMessageContainer, .sent .userMessageContent, .sent .userMessageTime {
    float: left;
}

.received .userMessageContainer {
    background: rgb(245, 245, 255);
    border: 1px solid rgb(200, 200, 210);
}

.received .userMessageContainer, .received .userMessageContent, .received .userMessageTime {
    float: right;
}

/* reply message form */
.replyMessageForm .field {
    margin: 0 0 10px 0;
}

.replyMessageForm textarea {
    font-size: 13px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.replyMessageForm .action {
    margin: 0;
    text-align: right;
}

.replyMessageForm .action input {
    font-size: 13px;
}