<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>404</title>
    <link rel="icon" type="image/ico" href="http://s3.amazonaws.com/skimreads/img/favicon.ico">
    <script type="text/javascript">
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37929283-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/skimreads/css/footer.css">
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/skimreads/css/header.css">
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/skimreads/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/skimreads/css/404500.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="http://s3.amazonaws.com/skimreads/img/skimreads.png">
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="dialog">
                <h1>You found a page that does not exist</h1>
                <p>Don't stay here, and I will show you how deep the rabbit hole goes.</p>
                <a class="redPill" href="/discover">
                    Take the Red Pill
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footerMedia">
                <ul>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="copyright">
                Skimreads &copy; 2013
            </div>
        </div>
    </footer>
</body>
</html>