<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        {% if not user.is_anonymous %}
            {% if user.profile.title_count %}
                ({{ user.profile.title_count }})
            {% endif %}
        {% endif %}
        {% block title %}Skimreads{% endblock %}
    </title>
    {% load static %}
    {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
    {% get_static_prefix as static %}
    <link rel="icon" type="image/ico" href="{{ static }}img/favicon.ico">
    {% include 'stylesheet.html' %}
    {% include 'javascript.html' %}
    {% block meta %}
        <meta property="og:title" content="Reading the web easier and faster">
        <meta property="og:image" content="http://s3.amazonaws.com/skimreads/img/sr_logo.png">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:site_name" content="Skimreads">
        <meta property="og:description" content="Skim online content by reading other people's notes.">
    {% endblock %}
    {% block head %}{% endblock %}
    <script type="text/javascript">
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37929283-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div class="wrapper">
        <header>{% include 'header.html' %}</header>
        {% include 'messages.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
    <div class="confirmDelete" title="Are you sure?"></div>
</body>
</html>