<div class="header">
    <div class="logo">
        <a href="{% url root_path %}">
            <img src="{{ static }}img/skimreads.png">
        </a>
    </div>
    <nav>
        <ul>
            {% if not user.is_anonymous %}
                <li>
                    {% if user.is_staff %}
                    <a class="addHeaderLink" href="{% url admins.views.new_reading %}">
                    {% else %}
                    <a class="addHeaderLink" href="{% url readings.views.new %}">
                    {% endif %}
                        + Add
                    </a>
                </li>
                <li>
                    <a class="discoverHeaderLink" href="{% url readings.views.discover %}">
                        Discover
                    </a>
                </li>
                <li>
                    <a class="account" href="{% url readings.views.list_user user.profile.slug %}">
                        <div>
                            <img src="{{ user.profile.small }}">
                        </div>
                        {% if user.profile.notice_count or user.profile.unread_message_count %}
                            <span class="name red">{{ user.first_name }}</span>
                        {% else %}
                            <span class="name">{{ user.first_name }}</span>
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="join" href="{% url users.views.new %}">
                        Join
                    </a>
                </li>
                <li>
                    <a class="login" href="{% url sessions.views.new %}">
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if not user.is_anonymous %}
            <nav id="menu">
                <ul>
                    <li>
                        <a href="{% url notifications.views.list %}">
                            Notifications 
                            {% if user.profile.notice_count %}
                                <span class="headerCount">
                                    {{ user.profile.notice_count }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url usermessages.views.list %}">
                            Messages
                            {% if user.profile.unread_message_count %}
                                <span class="headerCount">
                                    {{ user.profile.unread_message_count }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url users.views.edit user.profile.slug %}">
                            Settings
                        </a>
                    </li>
                    <li><a href="{% url sessions.views.destroy %}">Logout</a></li>
                </ul>
            </nav>
        {% else %}
            {% include 'sessions/login_menu.html' %}
        {% endif %}
    </nav>
    {% if not user.is_anonymous %}
        {% include 'search/search_form.html' %}
    {% endif %}
</div>