{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ static }}css/admins.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/comments.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/favorites.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/follows.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/footer.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/forms.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/header.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/intro.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/jquery-ui-1.9.2.custom.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/messages.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/notes.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/notifications.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/oauth.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/pages.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/pagination.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/readings.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/replies.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/search.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/tags.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/topButton.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/usermessages.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/users.css">
<link rel="stylesheet" type="text/css" href="{{ static }}css/votes.css">
<style>
.searchForm .field input {
    background-image: url('{{ static }}img/search.png');
}
</style>
{% endcompress %}