{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ media_root }}
<article class="about">
    <section>
        <h1>One Sentence</h1>
        <p>Skim online content by reading user-generated notes.</p>
    </section>
    <section>
        <h1>What is Skimreads</h1>
        <p>Have you ever finished reading something and told yourself "I could have wrote that entire thing in a couple sentences?"</p>
        <p>Online content often contains too many fillers, just like Dragon Ball Z. Sometimes there are only a few parts that you can relate to and the rest is just fluff.</p>
        <p>We are the annotations* of the web. There is just way too much stuff on the internet to read all by yourself. Together we can cut the bologna, skim the fat, and read lean.</p>
        <span>*An annotation is a note that is made while reading any form of text. This may be as simple as underlining or highlighting passages. (courtesy of Wikipedia)</span>
    </section>
    <section>
        <h1>How it Works</h1>
        <ol>
            <li>Skim user readings by looking at their notes</li>
            <li>Add notes of your own to other people's reading</li>
            <li>Save your online content, make notes, and let others skim</li>
        </ol>
    </section>
{% endblock %}