{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if not user.profile.facebook_auth %}
    <div class="facebookAuth large userEdit">
        <a href="{% url oauth.views.facebook %}">
            <img src="{{ static }}img/fb.png">
            <p>Connect with Facebook</p>
        </a>
        <div class="clear"></div>
    </div>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="editProfileImage">
        <img src="{{ request.user.profile.orig }}">
        {% for field in profile_form %}
            <div class="field">
                {{ field.errors }}
                {% if forloop.first %}
                    <input type="file" name="image" id="id_image">
                {% endif %}
            </div>
        {% endfor %}
        {% if user.profile.image %}
            <div class="field">
                <p>Clear profile image</p>
                <input name="clear_image" type="checkbox" value="1">
            </div>
        {% endif %}
    </div>
    {% for field in form %}
        <div class="field">
            {{ field.errors }}
            {{ field }}
        </div>
    {% endfor %}
    <div class="action">
        <input type="submit" value="Update">
        <a href="{% url readings.views.list_user request.user.profile.slug %}">
            Cancel
        </a>
    </div>
</form>
{% endblock %}