{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<script>
$(document).ready(function() {
    $('.join').remove();
})
</script>
{% endblock %}
{% block content %}
<div class="centerForm">
    <div class="facebookAuth large">
        <a href="{% url oauth.views.facebook %}">
            <img src="{{ static }}img/fb.png">
            <p>Sign up using Facebook</p>
            <div class="clear"></div>
        </a>
    </div>
    {% if user and user.is_staff %}
    <form action="" method="POST" enctype="multipart/form-data">
        <h1 class="or">or</h1>
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor %}
        <div class="action">
            <input type="submit" value="Sign up">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}