<form action="{% url comments.views.new note.pk %}" method="POST" id="commentForm_{{ note.pk }}">
    {% csrf_token %}
    <div class="commentUserImage">
        {% if user.is_anonymous %}
            <img src="{{ static }}img/users/default_small.jpg">
        {% else %}
            <img class="lazyLoad" data-original="{{ user.profile.small }}" src="{{ static }}img/users/lazy_user.jpg">
        {% endif %}
    </div>
    {% for field in comment_form %}
        <div class="field{% if user.is_anonymous %} signUpPop{% endif %}">
            {{ field.errors }}
            {{ field }}
        </div>
    {% endfor %}
</form>
<div class="clear"></div>