<div class="comment{% if comment_focus == comment.pk %} focus{% endif %}" id="comment_{{ comment.pk }}">
    {% load common_tags %}
    <div class="commentUserImage">
        <img src="{{ comment.user.profile.small }}">
    </div>
    <div class="commentBody">
        <div class="commentUser">
            <a href="{% url readings.views.list_user comment.user.profile.slug %}">
                {{ comment.user.username }}
            </a>
        </div>
        <div class="commentContent">{{ comment.content|urlize|target_blank|linebreaks }}</div>
        <div class="commentExtra">
            <div class="commentDateTime">
                <a href="#" id="replyToggle_{{ comment.pk }}">
                    <span id="replyCount_{{ comment.pk }}">{{ comment.reply_count }}</span> Reply
                </a> -
                {{ comment.date_time }}
                {% if comment.user.pk == user.pk or user.is_staff %}
                    -
                {% endif %}
            </div>
            {% if comment.user.pk == user.pk or user.is_staff %}
                <div class="commentDelete">
                    <form action="{% url comments.views.delete comment.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="{{ comment.pk }}">
                        <input type="submit" value="Delete" title="Delete">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="repliesContainer{% if reply_show == comment.pk %} show{% endif %}" id="replies_{{ comment.pk }}">
        <div class="replies">
            {% for reply in comment.reply_set.all %}
                {% include 'replies/reply.html' %}
            {% endfor %}
        </div>
        <div class="replyForm" id="replyFormContainer_{{ comment.pk }}">
            {% include 'replies/reply_form.html' %}
        </div>
    </div>
    <div class="clear"></div>
</div>