<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        {% if not user.is_anonymous %}
            {% if user.profile.title_count %}
                ({{ user.profile.title_count }})
            {% endif %}
        {% endif %}
        {% block title %}Skimreads{% endblock %}
    </title>
    {% load static %}
    {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
    {% get_static_prefix as static %}
    <link rel="icon" type="image/ico" href="{{ static }}img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ static }}css/application.css">
    {% include 'javascript.html' %}
    {% block head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>{% include 'header.html' %}</header>
        {% include 'messages.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
    <div class="confirmDelete" title="Are you sure?"></div>
</body>
</html>