<script type="text/javascript" src="{{ static }}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="{{ static }}js/autocomplete.js"></script>
<script type="text/javascript" src="{{ static }}js/autoresize.js"></script>
<script type="text/javascript" src="{{ static }}js/comments.js"></script>
<script type="text/javascript" src="{{ static }}js/date.js"></script>
<script type="text/javascript" src="{{ static }}js/favorites.js"></script>
<script type="text/javascript" src="{{ static }}js/follows.js"></script>
<script type="text/javascript" src="{{ static }}js/header.js"></script>
<script type="text/javascript" src="{{ static }}js/intro.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery.autoresize.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery.lazyload.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery.masonry.js"></script>
<script type="text/javascript" src="{{ static }}js/jquery.popupWindow.js"></script>
<script type="text/javascript" src="{{ static }}js/lazy.js"></script>
<script type="text/javascript" src="{{ static }}js/messages.js"></script>
<script type="text/javascript" src="{{ static }}js/notes.js"></script>
<script type="text/javascript" src="{{ static }}js/notifications.js"></script>
<script type="text/javascript" src="{{ static }}js/readings.js"></script>
<script type="text/javascript" src="{{ static }}js/replies.js"></script>
<script type="text/javascript" src="{{ static }}js/search.js"></script>
<script type="text/javascript" src="{{ static }}js/tags.js"></script>
<script type="text/javascript" src="{{ static }}js/topButton.js"></script>
<script type="text/javascript" src="{{ static }}js/usermessages.js"></script>
<script type="text/javascript" src="{{ static }}js/users.js"></script>
<script type="text/javascript" src="{{ static }}js/votes.js"></script>