<a href="{% url readings.views.list_user notification.reply.user.profile.slug %}">
    {{ notification.reply.user.username }}
</a> 
{% if notification.reply.comment.note.reading.user == user %}
    made a reply on
    <a href="{% url notifications.views.forward notification.pk %}">
        {{ notification.reply.comment.note.reading.title }}
    </a>
{% elif notification.reply.comment.note.user == user %}
    made a reply on your
    <a href="{% url notifications.views.forward notification.pk %}">
        note
    </a>
{% else %}
    replied to your
    <a href="{% url notifications.views.forward notification.pk %}">
        comment
    </a>
{% endif %}
: "{{ notification.reply.content }}"